<section class="d-flex justify-content-center  p-5">
    <article class="card w-50">
        <h1>Te contamos quienes somos:</h1>
        <h4>Descripcion:</h4>
        <p>General Products es una empresa líder en la distribución de productos de alta calidad en el mercado. Nos
            especializamos en ofrecer una amplia gama de productos premium que satisfacen las necesidades y expectativas
            de nuestros clientes más exigentes.</p>
        <h4>Compromiso con la Calidad:</h4>

        <p>
            En General Products, la calidad es nuestra máxima prioridad. Nos esforzamos por seleccionar cuidadosamente
            cada producto que llevamos a nuestras estanterías, garantizando que cumpla con los más altos estándares de
            excelencia. Trabajamos en estrecha colaboración con nuestros proveedores para asegurar la frescura,
            autenticidad y excelencia de cada artículo que ofrecemos.
        </p>
        <h4>Experiencia del Cliente:</h4>
        <p>
            Entendemos la importancia de brindar una experiencia excepcional a nuestros clientes en cada interacción.
            Nuestro equipo altamente capacitado está comprometido en proporcionar un servicio personalizado y atención
            al detalle para asegurar la satisfacción total de quienes confían en nosotros para satisfacer sus
            necesidades de productos de alta calidad.
        </p>
        <h4>Visión y Valores:</h4>
        <p>
            En General Products, nos esforzamos por ser la elección preferida de aquellos que buscan lo mejor en
            productos premium. Nos guiamos por principios de integridad, excelencia y pasión por ofrecer productos
            excepcionales que enriquezcan la vida de nuestros clientes y contribuyan a su bienestar y disfrute.

        </p>
        <h4>Conclusión:</h4>
        <p>
            Si buscas productos de alta calidad que reflejen tu estilo de vida sofisticado y exigente, General Products
            es tu destino de confianza. Descubre una amplia selección de productos premium que elevarán tus experiencias
            y
            satisfarán tus más altas expectativas.
        </p>
    </article>
    
    <article class="card w-50 d-flex flex-column">
        <h2 class="text-center p-3">Nuestros tipos de productos</h2>
        <div class="d-flex justify-content-center p-3 flex-wrap">
            <div class="card" style="width: 13rem;">
            <h5 class="card-title text-center">Indumentaria</h5>
            <img src="https://previews.123rf.com/images/yupiramos/yupiramos1804/yupiramos180401061/98575220-dise%C3%B1o-aislado-del-ejemplo-del-vector-del-icono-de-la-ropa-de-la-camisa.jpg" class="card-img-top" alt="indumentaria">
            <div class="card-body d-flex flex-column">   
                <p class="card-text"></p>
                <a href="/products?category=indumentaria" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>


        <div class="card" style="width: 13rem;">
            <h5 class="card-title text-center">Celulares</h5>
            <img src="https://st4.depositphotos.com/11196116/25025/v/450/depositphotos_250255476-stock-illustration-smartphone-icon-black-color-vector.jpg" class="card-img-top" alt="celulares">
            <div class="card-body d-flex flex-column">   
                <p class="card-text"></p>
                <a href="/products?category=celulares" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>


        <div class="card" style="width: 13rem;">
            <h5 class="card-title text-center">Zapatillas</h5>
            <img src="https://previews.123rf.com/images/rommmeo79/rommmeo791410/rommmeo79141000344/33017690-correr-icono-zapato-zapatillas-vector-deporte-activo-icono-s%C3%ADmbolo.jpg" class="card-img-top " alt="zapatillas">
            <div class="card-body d-flex flex-column">   
                <p class="card-text"></p>
                <a href="/products?category=zapatillas" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>


        <div class="card" style="width: 13rem;">
            <h5 class="card-title text-center">Accesorios</h5>
            <img src="https://img.freepik.com/vector-premium/inspiracion-plantilla-diseno-logotipo-gorra-ilustracion-vectorial_556641-1795.jpg" class="card-img-top" alt="accesorios">
            <div class="card-body d-flex flex-column">   
                <p class="card-text"></p>
                <a href="/products?category=accesorios" class="btn btn-primary">Ver mas...</a>
            </div>
        </div>
        </div>
        <h3 class="text-center">Tambien puedes ver todos los productos disponibles</h3>
            <div class="d-flex justify-content-center">
                <a href="/products" class="btn btn-danger">Ver todos</a>
            </div>
        </article>
        
</section>