<section class="d-flex">
    <article class="d-flex flex-column align-items-center ">
        <h3 class="p-2">User register</h3>
        <p>Maintenance</p>
        <form class="d-flex flex-column">
            <label for="name">Name:</label>
            <input class="m-2" type="text" name="name" id="name">
            <label for="email">Email:</label>
            <input class="m-2" type="text" id="email" name="email">
            <label for="password">Password:</label>
            <input class="m-2" type="password" id="password" name="password">
            <label for="photo">Img(url):</label>
            <input class="m-2" type="text" name="photo" id="photo">
            <input class="m-2" type="button" value="Register" id="newUser">
        </form>
    </article>
</section>